.vagrant/
vendor/
config/development.config.php
data/
config/
!data/cache/.gitkeep
composer.json
composer.lock
CONDUCT.md
docker-compose.yml
phpcs.xml
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
/CONTRIBUTING.md
/Dockerfile
/phpunit.xml.dist
/README.md
/TODO.md
/Vagrantfile
/LICENSE.md
/public/
.idea
